/* 定义的颜色变量 */
:root {
  --color1: #FF69B4; /* 粉红色 */
  --color2: #87CEEB; /* 天蓝色 */
  --color3: #FFD700; /* 金黄色 */
  --color4: #98FB98; /* 浅绿色 */
}

/* NProgress 样式定制 */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  transform-origin: center;
  animation: colorChange 4s linear infinite, expand 1s ease-in-out infinite;
}

@keyframes colorChange {
  0% {
    background: var(--color1);
  }
  25% {
    background: var(--color2);
  }
  50% {
    background: var(--color3);
  }
  75% {
    background: var(--color4);
  }
  100% {
    background: var(--color1);
  }
}

@keyframes expand {
  0% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  50% {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

#nprogress .peg {
  display: none;
}

#nprogress .spinner {
  display: none;
}
